:root {
	--main-bg-color: #211f5e;
	--main-color: ##dededf;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
	flex-direction: column;
	background: none;
	color: #dededf;
}

section {
	margin-bottom: 500px;
	z-index: -1;
}

p {
	font-size: 20px;
	margin: 0 0 35px;
	line-height: 1.6;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}

#site-header {
	background-color: #211f5e;
	width: 100%;
	position: fixed;
}

#site-header .navbar-brand {
	color: var(--main-color);
}

#site-header a.nav-link {
	color: var(--main-color);
}

#intro {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0;
	background-color: #ffffff;
	opacity: .8;
	margin-top: 70px;
}

#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#intro .dark-back-stripe {
	background-color: var(--main-bg-color);
	width: 100%;
	position: relative;
	padding: 10px 0 25px 0;
}

#logo {
	width: 250px;
}

#intro-content {
	width: 50%;
}

#about {
	background-color: var(--main-bg-color);
	padding: 250px 0;
	text-align: center;
	opacity: .8;
	width: 100%;
}

#technology {
	background-color: var(--main-bg-color);
	padding: 250px 0;
	text-align: center;
	opacity: 1;
	width: 100%;
	background: url("./assets/tesla-coil-wide.jpg") no-repeat center center scroll;
	background-size: cover;
}

#technology .container {
	background-color: var(--main-bg-color);
	opacity: .7;
	max-width: 1000px;
	text-align: center;
}

#technology ul {
	padding: 0 40px;
}

#technology li {
	float: left;
  list-style: none;
  background-color: rgba(170, 170, 170, 0.7);
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid black;	
}

#contact {
	background-color: var(--main-bg-color);
	padding: 250px 0;
	text-align: center;
	opacity: .8;
	width: 100%;
	margin-bottom: 0;
	padding: 25px 0;
	z-index: 0;
}

#contact p {
	margin-bottom: 10px;
}
